
<!-- Prose -->
<div>
    <div class="mandala-wrapper">
        <div class="mandala-mask">
            <div class="mandala" 
                 ng-click="toggleActiveClass()" 
                 ng-class="{ active : activeClass }">

                <div class="hexagons">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                    <div class="four"></div>
                    <div class="five"></div>
                    <div class="six"></div>
                </div>
            </div>
            
            <strong ng-bind="activeIndex + 1" ></strong>
        </div>
    </div>

    <a class="nav back" href="" ng-click="cyclePage('previous')">Back</a>
    <a class="nav next" href="" ng-click="cyclePage('next')">Next</a>

    <!-- <h1 ng-bind="activePage"></h1> -->
    <p ng-repeat="verses in activePage.verses" ng-bind-html="verses.verse | parseHTML"></p>
</div>

<!-- Menu -->
<!-- <ul class="grid">
    <li ng-repeat="pages in tao" ng-class="{active : isActiveItem($index)}">
        <a ng-href="#{{$index + 1}}" ng-bind="$index + 1"></a>
    </li>
</ul> -->
