body { margin: 0; padding: 0; background: #fff9ed; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #424242; }
body > div { width: 100%; height: 100%; height: 100vh; padding-top: 30px; }

ul { list-style: none; margin: 0; padding: 0; }

.mandala-wrapper { position: relative; }
.maldala-mask { width: 90px; height: 90px; margin: 0 auto; -webkit-mask-box-image: url("img/mandala-mask.svg"); }
.mandala-wrapper strong { position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; margin: -10px 0 0 -10px; font-size: 15px; font-family: 'Ovo'; line-height: 20px; text-align: center; color: #d95e78; }

.mandala { margin: 0 auto 30px auto; padding: 14px 3px 0 0; }
.mandala,
.mandala .hexagons { position: relative; width: 60px; height: 60px; }
.mandala h1 { margin: 0; line-height: 95px; font-size: 14px; text-align: center; z-index: 1; color: #fff9ed; }
.mandala h1,
.mandala .hexagons div { border: solid 1px transparent; }
.mandala .hexagons div,
.mandala .hexagons div::after { position: absolute; width: 60px; height: 60px; transition: all, .5s, ease-in; }
.mandala .hexagons div::after { content: '\25C8'; color: #d95e78; font-size: 58px; line-height: 60px; text-align: center; opacity: .4; }

.mandala.active .hexagons div { border-color: #424242; }
.mandala.active .hexagons div.two { transform: rotate(15deg); }
.mandala.active .hexagons div.three { transform: rotate(120deg); }
.mandala.active .hexagons div.four { transform: rotate(135deg); }
.mandala.active .hexagons div.five { transform: rotate(150deg); }
.mandala.active .hexagons div.six { transform: rotate(165deg); }


/* Grid */
ul.grid { width: 290px; margin: 20px auto 0 auto; padding: 0; text-align: center; transform: scale(.25); transition: all, .1s, ease-in; }
ul.grid:hover { transform: scale(1); }
ul.grid li { display: inline-block; }
ul.grid li a { display: block; position: relative; cursor: none; width: 30px; height: 30px; text-indent: -9999px; }
ul.grid li a::before,
ul.grid li.active a:hover::before { content: '.'; position: absolute; top: 50%; left: 50%; width: 12px; height: 12px; margin: -6px 0 0 -6px; background: #333; border-radius: 6px; 
    transition: all, .15s, ease-in;
}
ul.grid li a:hover::before { background: red; width: 48px; height: 48px; top: -9px; left: -9px; margin: 0; border-radius: 25px; }
ul.grid li.active a::before,
ul.grid li.active a:hover::before { background: red; }

/* Line */
ul.line { display: table; width: 100%; margin: 0 0 50px 0; }
ul.line li { display: table-cell; text-indent: -9999px; background: #bcdcf2; }
ul.line li a { display: block; }
ul.line li.active,
ul.line li a:hover { background: #424242; }


p { font-family: 'Ovo'; font-size: 23px; max-width: 900px; margin: 20px auto; text-align: center; } 